@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*, body {
  font-family: 'LeagueSpartan';
  font-size: 16px;
}