@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face { 
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face { 
  font-family: 'Gilroy';
  src: url('./static/fonts/Gilroy/Gilroy-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face { 
  font-family: 'Gilroy';
  src: url('./static/fonts/Gilroy/Gilroy-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face { 
  font-family: 'Gilroy';
  src: url('./static/fonts/Gilroy/Gilroy-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face { 
  font-family: 'Gilroy';
  src: url('./static/fonts/Gilroy/Gilroy-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, body {
  font-family: 'Gilroy', Oxygen, Cantarell, sans-serif;
  font-size: 14px;
}

@keyframes blinkBorder { 
  60% { border-color: transparent; } 
}