@font-face {
  font-family: "Gilroy";
  src: url("./static/fonts/Gilroy/Gilroy-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("./static/fonts/Gilroy/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("./static/fonts/Gilroy/Gilroy-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
body {
  font-family: "Gilroy", Oxygen, Cantarell, sans-serif;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "K2D", sans-serif; */

  font-size: 14px;
}

@media (min-width: 1286px) {
  *,
  body {
    font-size: 16px;
  }
}

@keyframes blinkBorder {
  60% {
    border-color: transparent;
  }
}
